build/
AsczGame_Release/
AsczGame_Debug/

.vscode/
.backup/
.heavy/
.backup/
.guides/

GovernmentData/
US_SocialSecurity_Lists/
north_korea_nuclear_launch_codes/
olive_garden_secret_recipes/
MarkiplierOnlyFans/
Super_Luigi_64/

guide.md
Guides/
docs/

# Custom binary files for my game
*.ascz