# Ignore all files and folders starting with "." in the root directory
/.*
!.git/

build/
AsczGame_Release/
AsczGame_Debug/
AsczGame_debug.exe
AsczGame_release.exe

GovernmentData/
US_SocialSecurity_Lists/
north_korea_nuclear_launch_codes/
olive_garden_secret_recipes/
MarkiplierOnlyFans/
Super_Luigi_64/

guide.md
cs2.md
Guides/
docs/

backup_script.py

*.ascz